html {
    width: 200px;
    background-color: #efe4d1;
}

body {
    font-family: 'carlmarx';
}

h1, p {
    text-align: center;
    font-style: normal;
    color: #20201e;
}

h1 {
    font-weight: 900;
    margin: 0.375em 0em 0.125em;
}

p {
    width: 100%;
    font-family: "joschmi", sans-serif;
    font-size: 3em;
    font-weight: 400;
    text-decoration: underline #ef634a;
    margin: 0.125em 0em 0.25em;
}

.text {
    font-family: 'carlmarx';
    width: 100%;
}

.slide {
    -webkit-appearance: none;
    appearance: none;
    background: #dfcaa4;
    width: 100%;
    height: .75em;
    border-radius: .5em;
    outline: none;
    margin: .5em 0px;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slide:hover {
    opacity: 1;
}

.slide::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: #ef634a;
  cursor: pointer;
}